
/* content box */
#tool_tip{
/* background-color: rgba(128, 128, 128, 0.07); */
border-radius: 4px;
padding: 0px 0px 0px 10px;
/* max-width: 600px; */
position: relative;
margin: 0 auto;
/* font-size: 18px; - use only if required
/* line-height: 28px; - use only if required */
}

/* Tooltip */
.help-tip{
	position: absolute;
	/* top: 18px; */
	right: 18px;
	text-align: center;
	background-color: #e3e6f0;
	border: 1px solid #4F798E;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	/* line-height: 23px; */
	cursor: default;
	font-family: initial;
	font-style: italic;
}

.help-tip:before{
	content:'i';
	font-weight: bold;
	color:#4f798e;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;
	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
}

.help-tip p{
	display: none;
	text-align: center;
	background-color: #4F798E;
	padding: 10px;
	width: 250px;
	position: absolute;
	border-radius: 7px;
	color: #eaecf4;
	/*1px 1px 1px rgba(0, 0, 0, 0.2);*/
	right: -4px;
	font-size: 13px; /* Change the font size inside tooltip */
	line-height: 1.4;
}

.help-tip p:before{
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#52818e;
	right:10px;
	top:-12px;
}

.help-tip p:after{
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

/* Adjust tooltip size on mobile devices */
@media screen and (max-width: 480px) {
	.help-tip p{
		width: 200px;
	}
}

.form-group {
  z-index: 10000;
  position: relative;
}

.myTooltip {
  z-index: 10001;
}

