<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/guessme-newdesign-layout :: guessme_lo_constructor(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{null},
                                                ~{null},
                                                ~{null}, 
                                                ~{:: #category-add-edit-main-content}, 
                                                ~{:: #home-footer1},
                                                ~{:: #home-hor-navbar},
                                                ~{null}
                                               )}">

<head>
    <title>Category List</title>
     
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <th:block id="home-static-resources"> 
    </th:block>
     
</head>




<body>
      
    <div id="category-add-edit-main-content">
        <div class="container my-2 page-main-content">
        <div class="card">
            <div class="card-body">
                <div th:switch="${categories}" class="container my-2">
	                <div class="row buttonsBar">
	                    <div class="nav-link">
	                        <a href="/recipes/category/list" class="btn btn-primary">
	                          <i class="fas fa-cheese" th:text="#{button.action.category.listAll}">List of All Categories</i>
	                        </a>
	                    </div>
						<div class="nav-link">
	                        <a href="/recipes/category/new" class="btn btn-primary"><i
	       						class="fas fa-sync-alt ml-2"> Refresh</i></a>
	                    </div>
						
	               </div>

				   <hr></hr>
                   
                   <div class="col-md-12 col-xl-12 col-lg-12">
                      <div class="card">    
                          <div class="card-header">
						 	  New Category
						  </div>
					      <div class="card-body">
 
						  <form th:object="${category}" action="" class="form-horizontal" id="add-category-form" method="post">
                          <div class="row">
                            <div class="col-md-12 col-lg-6">
							    <div class="form-group has-feedback">
							      <input
							        th:replace="~{fragments/inputField :: input (label='category.id', name='id', type='number', classCustom='col-md-5 col-lg-5', readOnly='true', setTooltip='')}" />
							      <input
							        th:replace="~{fragments/inputField :: input ('category.description', 'description', 'text')}" />
							    </div>
						    </div>

						    </div>
						    <div class="form-group">
						      <div class="col-sm-offset-2 col-sm-10">
						        <button
						            th:with="text=${category['new']} ? 'save' : 'update'"
						            class="btn btn-primary" type="submit" th:text="(#{button.action.+${text}})">
						        </button>
						        
						        <button class="btn btn-primary" type="submit">
						            <i class="fas fa-user-plus ml-2" th:with="text=${category['new']} ? 'save' : 'update'" th:text="(#{button.action.+${text}})">  </i>
						        </button>
						        
						      </div>
						    </div>
						  </form> 
						  
						  </div>
					  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <br>
        <br>
        <br>
    </div>

</body>

</html>