<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{layouts/guessme-newdesign-layout :: guessme_lo_constructor(
                                                ~{::title},
                                                ~{:: #list-static-resources},
                                                ~{null},
                                                ~{null},
                                                ~{null}, 
                                                ~{:: #recipes-main-content}, 
                                                ~{:: #home-footer1},
                                                ~{:: #home-hor-navbar},
                                                ~{null}
                                               )}">
                                               

<head>

    <!-- 
        	th:replace="~{layouts/guessme-newdesign-layout :: quessme_lo_constructor(
      
      		th:replace="~{layouts/guessme-layout :: l_constructor (  

                                                ~{:: #home-main-content},
    -->

    <title th:text="#{msg.recipes.list}">Recipes List</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <th:block id="list-static-resources"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}" href="../../static/css/datatables.min.css" />
		<script type="text/javascript" src="../../static/js/datatables.min.js" th:src="@{/js/datatables.min.js}"></script>
    </th:block>

</head>

<body>

    <div id="recipes-main-content">
    
		<script>
			$('document').ready(function(){
			    
				$('#recipes-list-table').DataTable();
			    
				$('.table #deleteButton').on('click', function(event){
					event.preventDefault();
					var href = $(this).attr('href');
					$('#deleteModal #formDelRef').attr('action', href);
					$('#deleteModal').modal();
				});
			});
			
			function deleteObjectEmpty() { 
			  alert("delete button empty");
			}
    	
			function deleteObject(objectId) {
				var down = $.post("/recipes/recipe/"+objectId+"/delete/", {changeBy: 1},
					    function(dataBack){
					        //alert(dataBack);
					    });
			}
			
			function deleteObjectAjax(objectId) {
				$.ajax({
					   url: '/recipes/recipe/'+objectId+'/delete/',
					   type: 'DELETE',
					   success: function(response) {
					     alert (response); 
					   }
					});
			}
			
		</script>

        <div class="container my-2 page-main-content">
        <div class="card">
            <div class="card-body">
                <div th:switch="${recipes}" class="container my-2">
                <div class="row buttonsBar">
                    <div class="nav-link">
                        <a href="/recipes/recipe/new" class="btn btn-primary">
                          <i class="fas fa-hamburger ml-2"  th:text="#{button.action.recipe.addNew}"></i>
                        </a>
                    </div>
                    <div class="nav-link">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuItem1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    <span class="caret" th:text="#{label.info.dropdown}"></span>
					  </button>
					 <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
				          <a class="dropdown-item" href="#" th:text="#{button.action.action}"/>
				          <a class="dropdown-item" href="#" th:text="#{button.action.action1}"/>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" href="#" th:text="#{button.action.action2}"/>
				     </div>
					</div>
					<div class="nav-link">
                        <a href="/recipes/recipe/list" class="btn btn-primary">
                        	<i class="fas fa-sync-alt ml-2"  th:text="#{button.action.refresh}"></i></a>
                    </div>
					
                </div>
			    </br>
                    <div class="col-md-12">
                        <h2 th:case="null" th:text="#{label.list.noRecords}"/>
                        <div th:case="*">
                            <table id = "recipes-list-table" class="table table-striped table-responsive-md table-main-style hover">
                                <thead>
                                    <tr>
                                        <th th:text="#{label.recipe.id}"/>
                                        <th th:text="#{label.recipe.title}"/>
                                        <th th:text="#{label.recipe.description}"/>
                                        <th th:text="#{label.recipe.prepTime}"/>
                                        <th th:text="#{label.recipe.cookTime}"/>
                                        <th th:text="#{label.recipe.servings}"/>
                                        <th th:text="#{label.recipe.url}"/>
                                        <th th:text="#{label.recipe.edit}"/>
                                        <th th:text="#{label.recipe.delete}"/>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    <tr th:each="recipe:${recipes}">
                                        <td th:text="${recipe?.id}">111</td>
                                        <td th:text="${recipe?.title}">789</td>
                                        <td th:text="${recipe?.description}">222</td>
                                        <td th:text="${recipe?.prepTime}">333</td>
                                        <td th:text="${recipe?.cookTime}">444</td>
                                        <td th:text="${recipe?.servings}">555</td>
                                        <td th:text="${recipe?.url}">567</td>
                                        
                                        <td>
                                        	<a th:href="@{/recipe/{id}(id=${recipe?.id})}" class="btn btn-primary btn-sm">
                                        		<i class="fas fa-edit "></i>
                                        	</a>
                                        </td>
                                        <!-- 
                                        <td>
                                        	<form th:action="@{/recipe/{id}/delete/(id=${recipe?.id})}" method="post" >
                                        		<button class="btn btn-primary btn-sm" type="submit">
						            				<i class="fas fa-trash-alt" >  </i>
                                        		</button>
                                        	</form>
                                        </td>
 -->
                                        <td>
                                        	<a th:href="@{/recipe/{id}/delete/(id=${recipe?.id})}" class="btn btn-danger btn-sm" id="deleteButton">
                                        		<i class="fas fa-trash-alt "></i>
                                        	</a>
                                        </td>
                                                 
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        

	<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        	<div class="modal-content">
	        	<div class="modal-header">
		            <h3 class="modal-title" th:text="#{button.action.confirm}"></h3>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                <span aria-hidden="true">&times;</span>
		            </button>
			    </div>
        		<div class="modal-body">
        		    <p th:text="#{button.action.delete.confirm}"></p>
        		</div>
		        <div class="modal-footer">

                    <form id="formDelRef" action="" method="post" >
                        <button class="btn btn-primary" type="submit">
							<i class="" th:text="#{button.action.confirm.yes}"></i>
							<!-- <i class="" >Yes, Delete</i>-->
                   		</button>
                    </form>

		       		<!--     <a href="" class="btn btn-primary" id="delRef">Yes, Delete</a> -->
		            <button type="button" class="btn btn-secondary" data-dismiss="modal"  th:text="#{button.action.confirm.close}"></button>

		        </div>
		    </div>
		</div>
	</div>
	
	</div>
	<!-- 
	    <div id="home-nav-menu" th:replace="~{/fragments/app-fragments-newdesign :: accordionSidebar}">
	        Home Nav
	    </div>
	 -->

</body>

</html>