<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{layouts/guessme-newdesign-layout :: guessme_lo_constructor(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{null},
                                                ~{null},
                                                ~{null}, 
                                                ~{:: #recipe-add-edit-main-content}, 
                                                ~{:: #home-footer1},
                                                ~{:: #home-hor-navbar},
                                                ~{null}
                                               )}">
                                               

<head>

    <!-- 
        	th:replace="~{layouts/guessme-newdesign-layout :: quessme_lo_constructor(
      
      		th:replace="~{layouts/guessme-layout :: l_constructor (  

                                                ~{:: #home-main-content},
    -->

    <title>Recipes List</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <th:block id="home-static-resources"> 

        <!-- Main styles for this template (for Recipe application) -->
<!--     	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-tagsinput.css}" href="../../static/css/bootstrap-tagsinput.css" />
     -->	
    	<!-- Custom scripts for all pages-->
<!--		<script type="text/javascript" src="../../static/js/bootstrap-tagsinput.js" th:src="@{/js/bootstrap-tagsinput.js}"></script>
     -->
     
     <link rel="stylesheet" type="text/css" th:href="@{/css/tags-standalone.css}" href="../../static/css/tags-standalone.css" />
 	 <script type="text/javascript" src="../../static/js/tags.js" th:src="@{/js/tags.js}"></script>
    
    </th:block>

</head>

<body>
      
    <div id="recipe-add-edit-main-content">
        <div class="container my-2 page-main-content">
        <div class="card">
            <div class="card-body">
                <div th:switch="${recipes}" class="container my-2">
            <!--     <div th:switch="${recipes}" class="container my-5"> -->
	                <div class="row buttonsBar">
	                    
	                    <div class="nav-link">
	                        <a href="/recipes/recipe/list" class="btn btn-primary">
	                          <i class="fas fa-cheese" th:text="#{button.action.recipe.listAll}">List of All Recipes</i>
	                        </a>
	                    </div>
	                    
	                    <div class="nav-link">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuItem1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    <span class="caret" th:text="#{label.info.dropdown}"></span>
						  </button>
						 <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
					          <a class="dropdown-item" href="#" th:text="#{button.action.action}"/>
					          <a class="dropdown-item" href="#" th:text="#{button.action.action1}"/>
					          <div class="dropdown-divider"></div>
					          <a class="dropdown-item" href="#" th:text="#{button.action.action2}"/>
					     </div>
						</div>
						
						<div class="nav-link">
						    <a href="/recipes/recipe/new" class="btn btn-primary"><i
	       						class="fas fa-sync-alt ml-2"  th:text="#{button.action.refresh}"></i></a>
	                    </div>
						
	               </div>

	 <hr></hr>
                    <!-- <div class="col-md-12 col-xl-12 col-lg-12">  -->
                    <div>
                      <div class="card">    
                          <div class="card-header">
                          	  <span th:text="( (${recipe.id==null}) ? #{label.recipe.newRecipe} : (#{label.recipe.updateRecipe} + ' : [ ' + ${recipe.id} + ' ]' ) )"></span> 
						  </div>
					      <div class="card-body">
 
						  <form th:object="${recipe}" action="" class="form-horizontal" id="add-recipe-form" method="post">
                            <div class="row">
                            <div class="col-md-12 col-lg-6">
							    <div class="form-group has-feedback">
								  
								  <input type="hidden" th:field="*{id}" id="id">

								  <!--
		 					 	    <input
								      th:replace="~{fragments/inputField :: input (label='recipe.id', name='id', type='number', classCustom='col-md-5 col-lg-5', readOnly='true')}" />					       
								  -->
								  
							      <input
							        th:replace="~{fragments/inputField :: input ('recipe.title', 'title', 'text')}" />
							      
							      <div class="form-group has-feedback row rowStyle" >
		                            <div class="col-md-6 col-lg-6">
		                              	<div class="col-md-12 form-group">
		                                    <label th:text="#{label.recipe.difficulty}"></label>
		                                    	<select class="form-control" th:field="*{enumDifficulty}">
		      										<option th:each="item:${T(rs.apps.nn.recipes.domain.EnumDifficulty).values()}"
		      											th:value="${item.name()}"
		      											th:text="(#{label.enum.difficulty.+${item.name()}})"> val
		      									</option>
		                                    </select>
		                                    <select class="form-control" th:remove="all">
		                                        <option>Easy dummy</option>
		                                        <option>Medium dummy</option>
		                                        <option>Hard dummy</option>
		                                    </select>
		                                </div>
                                	</div>
                                	<div class="col-md-6 col-lg-6">
                                		<input
							    		    th:replace="~{fragments/inputField :: input ('recipe.portions', 'portions', 'number')}" />
                                		
									</div>
								</div>
							      
							      <input
							        th:replace="~{fragments/inputField :: input ('recipe.url', 'url', 'text')}" />

							    </div>
						    </div>
						    
                            <div class="col-md-12 col-lg-6">
							    <div class="form-group has-feedback">
							    
							      <input
							        th:replace="~{fragments/selectField :: select ('recipe.category', 'category', ${categoryList})}" />

							    </div>
							    <div class="form-group has-feedback row rowStyle" >
		                              <div class="col-md-6 col-lg-6">
								          <input
									        th:replace="~{fragments/inputField :: input ('recipe.prepTime', 'prepTime', 'number')}" />
									  </div>
		                              <div class="col-md-6 col-lg-6">
									      <input
									        th:replace="~{fragments/inputField :: input ('recipe.cookTime', 'cookTime', 'number')}" />
									  </div>
								</div>
								
								<input
							        th:replace="~{fragments/inputField :: input ('recipe.source', 'source', 'text')}" />
								
								
							    
								
							    
						    </div>
						
        					<br>
        					<br>
        					
        					
        					<br>
        					
                            <div class="col-md-12 col-lg-12">
							    <div class="form-group has-feedback">
									<div class="col-md-12 col-lg-12">
									  		<div class="card col-md-12 col-lg-12 zeroPadding">
								  				<div class="card-header"  th:text="#{label.recipe.dynRow.ingredients}">
								    				Ingredients:
								  				</div>
											    <div class="card-body">
									  
													  <div>
													  
													  <div class="card card-default margin-bottom-20">

														  <table border="1" cellspacing="0" id="tableDynRows" name="tableDynRows" class="table table-bordered table-hover table-sm margin-bottom-zero">
															  <thead class="thead-light" >
														        <tr>
														            <th></th>
														            <th th:text="#{label.recipe.dynRow.rowNum}" class="innerTableTh">Row Number</th>
														            <th th:text="#{label.recipe.dynRow.quantity}" class="innerTableTh">Quantity</th>
														            <th th:text="#{label.recipe.dynRow.measure}" class="innerTableTh">Measure</th>
														            <th th:text="#{label.recipe.dynRow.ingredient}" class="innerTableTh">Ingredient</th>
														        <!--    <th th:text="#{label.recipe.dynRow.checked}" class="innerTableTh">Checked</th>  -->
														        </tr>
														      </thead>
														      <tbody>
															    <tr th:each="row,rowStat : *{ingredients}">

																  <td><input type='checkbox' class='case'/>
															        <input type="hidden" th:field="*{ingredients[__${rowStat.index}__].id}" />
															        <input type="hidden" th:field="*{ingredients[__${rowStat.index}__].recipe.id}" />
															        <!-- <input type="hidden" th:field="*{ingredients[__${rowStat.index}__].recipeFk}" /> -->
															      </td>
															      
															      <td  class='row_no' th:text="(${rowStat.count}+'.')">1</td>

															      <td>
															        <input type="text" size='3' class="text-field-dynamicrow form-control" th:field="*{ingredients[__${rowStat.index}__].amount}" />
															      </td>

															      <td>
															        <select class="form-control-sm col-12 col-md-12 form-control" th:field="*{ingredients[__${rowStat.index}__].uom}">
															          <option th:each="var : ${allUnitOfMeasuresList}" 
															                  th:value="${var.id}" 
															                  th:text="(#{label.enum.unitOfMeasure.+${var.description}})"
															                  >Cup</option>
															        </select>
															      </td>

															      <td>
															        <input type="text" class="text-field-dynamicrow form-control" th:field="*{ingredients[__${rowStat.index}__].ingredientName}" />
															      </td>

															    </tr>
															  </tbody>
													      </table>
													  </div>
													      
													  </div>
												      <div class="btn-container">
												        <button type="button" class='btn addmore btn-outline-info'  th:text="#{button.action.addMoreRows}">+ Add More</button>
												        <button type="button" class='btn delete btn-outline-danger'  th:text="#{button.action.deleterows}" >- Delete</button>
												      </div>
									  
									  			</div>
									  		</div>
								    </div>
								</div>
						    </div>
        					
        					<br>
        					<br>
        					<br>
        					
                            <div class="col-md-12 col-lg-12">
							    <div class="form-group has-feedback">
							      <input
							        th:replace="~{fragments/inputField :: input ('recipe.instructions', 'description', 'textarea')}" />
							    </div>
						    </div>

        					<br>


							
                            <div class="col-md-12 col-lg-12">
							    <div class="form-group has-feedback">
									<div class="col-md-12 col-lg-12">
									  		<div class="card col-md-12 col-lg-12 zeroPadding">
								  				<div class="card-header"  th:text="#{label.recipe.tags}">
								    				Tags:
								  				</div>
											    <div class="card-body">
											    	<select class="form-select" id="recipesTags" name="recipesTags" multiple data-allow-clear="true" data-clear-label="Clear" data-allow-new="true">
														<option selected disabled hidden value="">Choose a tag...</option>
													    <option selected="selected" th:each="prod,iterStat : ${recipe.tags}" 
										                  th:value="(${prod.id}+':'+${prod.value})" 
										                  th:text="(${iterStat.count}+' ['+${prod.id}+'] : '+${prod.value})"
										                  >Cup
			  								            </option>
													</select>



											    <!-- 
											    	<table>
													  <tr>
													  </tr>
													  <tr th:each="prod,iterStat : ${recipe.tags}" th:class="${iterStat.odd}? 'odd'">
													    <td th:text="${prod.id}">ID</td>
													    <td th:text="${prod.value}">value</td>
													    <td>
															<span class="badge bg-primary me-2" data-value="1">
															    <button type="button" style="font-size:0.65em" class="me-2 btn-close btn-close-white" aria-label="Clear"></button><span th:text="${prod.value}"></span>
														        < ! -- <button type="button" style="font-size:0.65em" class="me-2 btn-close btn-close-white" aria-label="Clear">aaa</button> -- >
															</span>
														</td>
													  </tr>
													</table>
											    -->
												</div>
												<div>
												
												<!-- 
												<select class="form-select" id="validationTags" multiple data-allow-clear="true" data-clear-label="Clear" data-allow-new="true">
												  <option selected disabled hidden value="">Choose a tag...</option>
												  <option value="1" selected="selected">JavaScript</option>
												  <option value="2">HTML5</option>
												  <option value="3">CSS3</option>
												  <option value="4">jQuery</option>
												  <option value="5">React</option>
												  <option value="6">Angular</option>
												  <option value="7">Vue</option>
												  <option value="8">Python</option>
												</select>
												-->
											  
									          
										    <!--  <td  class='row_no' th:text="(${rowStat.count}+'.')">1</td>
									           -->
												<!-- 
												<div class="invalid-feedback">Please select a valid tag.</div>
												-->
												
<!-- 													<input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" /> 
-->
												</div>
									  		</div>
								    </div>
								</div>
						    </div>
        					
        					<br>
        					<br>
							


        					<br>
        
						    </div>
						    <div class="form-group">
						      <div class="col-sm-offset-2 col-sm-10">
						        <button
						            th:with="text=${recipe['new']} ? 'save' : 'update'"
						            class="btn btn-primary" type="submit" th:text="(#{button.action.+${text}})">
						        </button>
						        
						        <button class="btn btn-primary" type="submit">
						            <i class="fas fa-user-plus ml-2" th:with="text=${recipe['new']} ? 'save' : 'update'" th:text="(#{button.action.+${text}})">  </i>
						        </button>
						        
						      </div>
						    </div>
						    
						  </form>


							<div class="col-md-12 col-lg-12">
								<div class="form-group has-feedback">
								
									<div class="card">
									
										<h6 class="card-header text-white bg-light mb-3">
							        		<a class=" d-block " data-toggle="collapse" href="#collapse-collapsed" aria-expanded="true" aria-controls="collapse-collapsed" id="heading-collapsed" >
							        		    <i class="fa fa-chevron-down pull-right"></i>
							            			<span th:text="#{label.recipe.imageInfo}"></span>
							        		</a>
							    		</h6>

										<!-- <div class="card-header" th:text="#{label.recipe.imageInfo}">Recipe photo:</div>-->
									    <div id="collapse-collapsed" class="collapse show" aria-labelledby="heading-collapsed">
									        <div class="card-body" style="padding-top:0">
								    			  <div class="col-md-12 col-lg-12 row zeroMargin" style="font-style: oblique;" >
			                                	  		<div class="col-md-6 col-lg-6 zeroPadding" >
							 								  <div>
																	<form method="POST" enctype="multipart/form-data" th:action="@{${recipe.id}+'/uploadPhoto'}" >

																		<table>
																			<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
																			<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
																		</table>
																    	
																    	<input type="hidden" id="newPhotoRecipeId" name="newPhotoRecipeId" th:value="${recipe.id}">
																    	<input type="hidden" id="imageId" name="imageId" th:value="${recipeImage?.id}">

																	</form>
															  </div>
			                                			</div>
			                                	  		<div class="col-md-6 col-lg-6 zeroPadding" >
							 								  <div>
					               								<div th:switch="${recipeImage}" class="container my-2">
                    				    							<img th:case="null" class="rounded mx-auto d-block" height="250" src="/recipes/img/placehldrImg.png">
                        											<div th:case="*">
															            <img class="card-img-top" height="350"  style="object-fit: contain;"  th:src="@{'/recipeImage/image/' + ${recipeImage.id}}">
                        											</div>
                        										</div>
															  </div>
			                                			</div>
			                                	  </div>
								    			  
											</div>
										</div>
									</div>
								
								</div>
							</div>

							<div class="col-md-12 col-lg-12">
								<div class="form-group has-feedback">
									<div class="card col-md-12 col-lg-12 zeroPadding">
										<div class="card-header" th:text="#{label.recipe.addInfo}">Additional:</div>
										<div class="card-body">
											<div>
												<div>
												  <!-- Nav tabs -->
												  <ul class="nav nav-tabs mt-2" role="tablist">
												    <li role="presentation" class="nav-item active"> <a href="#comments" class="nav-link active" aria-controls="home" role="tab" data-toggle="tab" th:text="#{label.recipe.commentsData}">Comments</a></li>
												    <li role="presentation" class="nav-item" > <a href="#images" class="nav-link" aria-controls="profile" role="tab" data-toggle="tab" th:text="#{label.recipe.images}">Images</a></li>
												    <li role="presentation" class="nav-item" ><a href="#addAdvices" class="nav-link" aria-controls="messages" role="tab" data-toggle="tab" th:text="#{label.recipe.addTips}">Additional tips</a></li>
												  </ul>
												  
												  <!-- Tab panes -->
												  <div class="tab-content tabsContent">												  
												    <br/>

												    <div role="tabpanel" class="tab-pane fade show active" id="comments" aria-labelledby="home-tab">
												   		<div id="commentDataAJAX" >
													    	<input type="hidden" id="newCommentRecipeId" name="newCommentRecipeId" th:value="${recipe.id}">
														</div>
												    </div>

												    <div role="tabpanel" class="tab-pane fade" id="images">
												   		<div id="commentImagesDataAJAX" >
													    	<input type="hidden" id="commentImagesDataRecipeId" name="commentImagesDataRecipeId" th:value="${recipe.id}">
														</div>
												    </div>

												    <div role="tabpanel" class="tab-pane fade" id="addAdvices">
												    	<div>
															<form method="POST" enctype="multipart/form-data" action="/">
																<table>
																	<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
																	<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
																</table>
															</form>
														</div>
												    </div>

												  </div>
											    </div>
											    <br/>
										    </div>
										</div>
									</div>
								</div>
							</div>

							
							
						</div>
					  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

	<div id="divUnitOfMeasures" style="display: none;">	
	   		<select class="form-control-sm col-12 col-md-12 form-control" id="dropdownUnitOfMeasures" >
	          <option th:each="var : ${allUnitOfMeasuresList}" 
	                  th:value="${var.id}" 
	                  th:text="(#{label.enum.unitOfMeasure.+${var.description}})"
	                  >Cup
	          </option>
	        </select>
	</div>
        
	<script type="module" >

		import Tags from "../js/tags.js";
    	Tags.init("select[multiple]:not(#regular)");
	</script>
	
	<script>

	
		var i=0;
		var deleted=0;
		$(".addmore").on('click',function(){
		    addMoreFunc();
		});

/* 		<input type="text" class="text-field-dynamicrow form-control" id="ingQuantityList2" size="3" name="ingQuantityList[]" th:field="*{ingQuantityList}">
		<input type="text" class="text-field-dynamicrow form-control" id="ingIngredientList1" name="ingIngredientList" value="">
 */

 		function addMoreFunc() {
		    var rowCount = $('.row_no').length + 1;
		    var newRowId = rowCount+deleted;
		    var data="<tbody><tr style='line-height: 1;'>";
		    data+="<td><input type='checkbox' class='case'/></td>";
		    data +=" <td> <span class='row_no'>"+rowCount+".</span> </td>";
		    data +=" <td> <input type='text' class='text-field-dynamicrow form-control' id='ingredients"+(newRowId-1)+".amount' size='3' name='ingredients["+(newRowId-1)+"].amount'/> </td>";
		    data +=" <td> <select class='form-control-sm col-12 col-md-12 form-control' id='ingredients"+(newRowId-1)+".uom' name='ingredients["+(newRowId-1)+"].uom' ><option value='0'>pick packager</option></select> </td> ";
		    data +=" <td> <input type='text' class='text-field-dynamicrow form-control' id='ingredients"+(newRowId-1)+".ingredientName' name='ingredients["+(newRowId-1)+"].ingredientName'  /></td>";
		    data +=" </tr></tbody>";
		    // $('table').append(data);
		    $("#tableDynRows").append(data);
		    populateSelectBox(newRowId);
		    onAddCheckboxRefresh();
		    i++;
		}
/*
 function addMoreFunc() {
	    var rowCount = $('.row_no').length + 1;
	    var data="<tbody><tr style='line-height: 1;'>";
<!--		    data+="<td><input type='checkbox' class='case'/></td>";
	    data +=" <td> <span class='row_no'>"+rowCount+".</span> </td>";
-->
	    data +=" <td> <input type='text' class='text-field-dynamicrow form-control' id='ingQuantityList"+i+"' size='3' name='ingQuantityList[]' th:field='*{ingQuantityList}' /> </td>";
<!--		    data +=" <td> <select class='form-control-sm col-12 col-md-12 form-control' id='ingMeasureList"+i+"' name='ingMeasureList[]' th:field='*{ingMeasureList}' ><option value='0'>pick packager</option></select> </td> ";
	    data +=" <td> <input type='text' class='text-field-dynamicrow form-control' id='ingIngredientList"+i+"' name='ingIngredientList[]' th:field='*{ingIngredientList}' /></td>";
-->		    data +=" </tr></tbody>";
	    $('table').append(data);
	    //populateSelectBox(i);
	    onAddCheckboxRefresh();
	    i++;
	}*/

	    // addMoreFunc();
		
		$(".delete").on('click', function() {
		    $('.case:checkbox:checked').parents("tr").remove();
			deleted=deleted+1;
		    changeAllRowNo();
		});

		function changeAllRowNo() {
		    $('.row_no').each((k,ele)=>{
		        $(ele).html(k+1+'.')
		    });
		}

		function populateSelectBox(i) {
			var finalcel = document.getElementById('ingredients'+(i-1)+'.uom');
			var copycel = document.getElementById('dropdownUnitOfMeasures').innerHTML;
			// alert(copycel);
			finalcel.innerHTML=copycel;
		}

		function onAddCheckboxRefresh(){
			$('input[type=checkbox]').on("change",function(){
			    // alert('aaa');
			    var target = $(this).parent().find('input[type=hidden]').val();
			    // alert('target:'+target);
			    if(target == 0)
			    {
			        target = 1;
			    }
			    else
			    {
			        target = 0;
			    }
			    $(this).parent().find('input[type=hidden]').val(target);
			});
		}

		function refreshCommentListData() {
			  var e2 = document.getElementById("newCommentRecipeId");
			  var newCommentRecipeId = e2.value;
			  $.ajax({
				 type: "GET",
			     url : '/recipes/recipe/'+newCommentRecipeId+'/comment/list',
			     success : function(res) {
					$("#commentDataAJAX").html(res);
			     },
			     error :  function(res) {
			         alert('error:'+res);
			     }
			  });
			}
		
		function refreshCommentImagesData() {
			  var e2 = document.getElementById("commentImagesDataRecipeId");
			  var imagesRecipeId = e2.value;
			  $.ajax({
				 type: "GET",
			     url : '/recipes/recipe/'+imagesRecipeId+'/images/list',
			     success : function(res) {
					$("#commentImagesDataAJAX").html(res);
			     },
			     error :  function(res) {
			         alert('error:'+res);
			     }
			  });
			}

		function addNewCommentOnClick() {
			  //Prevent default submission of form
			 //  e.preventDefault();
			  
			  var e = document.getElementById("newCommentText");
			  var strCommentText = e.value;
			  //var e1 = document.getElementById("newCommentUsername");
			  //var strCommentUsername = e1.value;
			  var e2 = document.getElementById("newCommentRecipeId");
			  var newCommentRecipeId = e2.value;
			  
			  // 20220801 - Read Username from Logged user 
			  // var json = {"recipeFk":newCommentRecipeId, "text":strCommentText, "username":strCommentUsername};
			  var json = {"recipeFk":newCommentRecipeId, "text":strCommentText, "username":strCommentUsername};

			  // alert("json:"+JSON.stringify(json));
			  $.ajax({
				 type: "POST",
			     url : '/recipes/recipe/'+newCommentRecipeId+'/comment/new',
			     //dataType: "json",
			     //accepts: "text/plain",
			     contentType: "application/json; charset=utf-8",
			     data : JSON.stringify(json),
			     success : function(res) {
					$("#commentDataAJAX").html(res);
			        // alert('success:'+res);
			     },
			     error :  function(res) {
			         alert('error:'+res);
			     } 
			  });
			}
		
			$('document').ready(function(){
				refreshCommentListData();
				refreshCommentImagesData();
			});
		
		</script>
		
        
    </div>

	<!-- 
	    <div id="home-nav-menu" th:replace="~{/fragments/app-fragments-newdesign :: accordionSidebar}">
	        Home Nav
	    </div>
	 -->

</body>

</html>