<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>App Fragments</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}" href="../../static/css/sb-admin-2.min.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" href="../../static/vendor/fontawesome-free/css/all.min.css" />
	
    <script type="text/javascript" src="../../static/vendor/chart.js/Chart.min.js" th:src="@{/vendor/chart.js/Chart.min.js}"></script>
    <script type="text/javascript" src="../../static/js/demo/chart-area-demo.js" th:src="@{/js/demo/chart-area-demo.js}"></script>
    <script type="text/javascript" src="../../js/demo/chart-pie-demo.js" th:src="@{/js/demo/chart-pie-demo.js}"></script>
    <script type="text/javascript" src="../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script type="text/javascript" src="../../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script type="text/javascript" src="../../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script type="text/javascript" src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</head>

<body>

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment = "accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Recipes :) <sup>the best</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span th:text="#{menu.label.dashboard}"/></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">



  			<!-- Heading -->
            <div class="sidebar-heading" th:text="#{menu.label.myRecipes}"/>

            <!-- Nav Item - Recipe Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecipe"
                    aria-expanded="true" aria-controls="collapseRecipe">
                    <!-- <i class="fas fa-fw fa-cog"></i> -->
                    <i class="fas fa-hamburger"></i>
                    <span th:text="#{menu.item.recipe}"/>
<!--                     <i class="fas fa-cookie-bite"></i> -->
                </a>
                <div id="collapseRecipe" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header"  th:text="#{menu.label.options}"></h6>
                        <a class="collapse-item" th:href="@{/recipe/list}" th:text="#{menu.label.list}"></a>
                        <a class="collapse-item" th:href="@{/recipe/new}" th:text="#{menu.label.add}"></a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Category Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategories"
                    aria-expanded="true" aria-controls="collapseCategories">
<!--                     <i class="fas fa-fw fa-wrench"></i> -->
                    <i class="fas fa-columns"></i>
                    <span th:text="#{menu.item.category}"/>
                </a>
                <div id="collapseCategories" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header"  th:text="#{menu.label.options}"></h6>
                        <a class="collapse-item" th:href="@{/category/list}" th:text="#{menu.label.list}"></a>
                        <a class="collapse-item" th:href="@{/category/new}" th:text="#{menu.label.add}"></a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">




            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
              <!--       <i class="fas fa-fw fa-cog"></i> -->
                    <i class="fas fa-balance-scale"></i>
                    
                    <span>Components1</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card">
                <img class="sidebar-card-illustration mb-2" src="/recipes/img/undraw_rocket.svg" alt="">
                <p class="text-center mb-2"><strong>
                    <span th:text="#{menu.label.recipesAdmin}"></span></strong></p>
                <a class="btn btn-success btn-sm" href="" th:text="#{menu.label.enjoy}"></a>
            </div>

        </ul>
        <!-- End of Sidebar -->

</body>
</html>