<html>
<body>
  <form>

									   
    <th:block th:fragment="input (label, name, type)"  th:with="classCustom=${classCustom} ?: '', readOnly=${readOnly} ?: '', setTooltip=${setTooltip} ?: ''">
      <div th:with="valid=${!#fields.hasErrors(name)}"
        th:class="${'form-group' + (valid ? '' : ' has-error')}" class="">
        
		<div id="tool_tip">
			<div th:if="${#strings.length(setTooltip)}" class="help-tip myTooltip">
				<p th:text="(#{'label.'+${label}+'.tooltip'})"></p>
			</div>
	       <!--  <label class="col-sm-12 control-label" th:text="(#{'label.'+${label}})">Label</label> -->
	        <label class="control-label" th:text="(#{'label.'+${label}})">Label</label>
		</div>
<!-- 		<div id="tool_tip">
			<div class="help-tip">
				<p>This is a tooltip appears on mouse hovering.</p>
			</div>
			<p>This is a simple tooltip with just text display on hovering. Check it!</p>
		</div>
	 -->	

        <div th:class="'col-sm-12' + ' ' + ${(classCustom=='' ? '' : classCustom)}" >
            <div th:switch="${type}" >
                <input th:case="'text'" class="form-control"  type="text" th:field="*{__${name}__}" />
                <input th:case="'number'" class="form-control" type="number" th:field="*{__${name}__}"  th:readonly="${readOnly=='true'}" />
                <input th:case="'date'" class="form-control" type="text" th:field="*{__${name}__}"
                        placeholder="YYYY-MM-DD" title="Enter a date in this format: YYYY-MM-DD"
                        pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"/>
				<textarea  th:case="'textarea'" class="form-control"  th:field="*{__${name}__}" rows="9"></textarea>
            </div>
          <span th:if="${valid}" 
            class="glyphicon glyphicon-ok form-control-feedback"
            aria-hidden="true"></span>
          <th:block th:if="${!valid}">
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span style="color: red" class="help-inline" th:errors="*{__${name}__}">Error</span>
          </th:block>
        </div>
      </div>
    </th:block>

  </form>
</body>
</html>
