.loginPanel{
	border-left: 1px solid #f69d58 !important;
    border-right: 1px solid #f69d58 !important;
    border-bottom: 1px solid #f69d58 !important;
    border-top: 1px solid #f69d58 !important;
    border-radius: 37px 11px;
}

