<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{layouts/guessme-newdesign-layout :: guessme_lo_constructor(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{null},
                                                ~{null},
                                                ~{null}, 
                                                ~{:: #categories-main-content}, 
                                                ~{:: #home-footer1},
                                                ~{:: #home-hor-navbar},
                                                ~{null}
                                               )}">
                                               

<head>

        <!-- 
        	th:replace="~{layouts/guessme-newdesign-layout :: quessme_lo_constructor(
      
      		th:replace="~{layouts/guessme-layout :: l_constructor (  

                                                ~{:: #home-main-content},
       -->

    <title>Category List - My title</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <th:block id="home-static-resources"> 
    </th:block>

</head>

<body>

    <div id="categories-main-content"><!-- 
        <h2>Home content</h2>
        <div>Content of Home Page</div> -->
        <div class="container my-2 page-main-content">
        <div class="card">
            <div class="card-body">
                <div th:switch="${categories}" class="container my-5">
                <!-- <div th:switch="${categories}" class="container my-5"> -->
                <div class="row buttonsBar">
                    <div class="centralVertically">
                        <a href="/students/signup" class="btn btn-primary"><i
       						class="fas fa-user-plus ml-2"> Add Category</i></a>
                    </div>
                    <div class="nav-link navbarDropdownText">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuItem1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Dropdown
					    <span class="caret"></span>
					  </button>
					 <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
				          <a class="dropdown-item" href="#">Action</a>
				          <a class="dropdown-item" href="#">Another action</a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" href="#">Something else here</a>
				     </div>
					</div>
					<div class="centralVertically">
                        <a href="/students/signup" class="btn btn-primary"><i
       						class="fas fa-user-plus ml-2"> Add Category</i></a>
                    </div>
					
					
					
                    </div>



                    <div class="col-md-12">
                        <h2 th:case="null">No Categories yet!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md table-main-style">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
	                            <!--     <tr th:each="recipe:${recipes}">
										/*@thymeVar id="recipe" type="rs.apps.np.spring.btg.recipe.domain.Recipe"*/
										<td th:text="${recipe?.id}">111</td>
										<td th:text="${recipe?.description}">Recipe desc 3</td>
										<td><a href="#" th:href="@{'/recipe/'+${recipe.id}+'/show'}" >View</a></td>
									    <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
	                                	<td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">Delete</a></td>
		                            </tr>
                                 -->
                                    <tr th:each="category:${categories}">
                                        <td th:text="${category?.id}">111</td>
                                        <td th:text="${category?.name}">222</td>
                                        <td th:text="${category?.description}">333</td>
                                        <td><a th:href="@{/category/edit/{id}(id=${category?.id})}" class="btn btn-primary btn-sm"><i class="fas fa-user-edit ml-2"></i></a></td>
                                        <td><a th:href="@{/category/delete/{id}(id=${category?.id})}" class="btn btn-primary btn-sm"><i class="fas fa-user-times ml-2"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
     

<!-- 
    <div id="home-nav-menu" th:replace="~{/fragments/app-fragments-newdesign :: accordionSidebar}">
        Home Nav
    </div>
 -->
</body>

</html>